* {
	font-family: arial, sans-serif;
}

p {
	text-align: justify;
	padding: 0.5em;
	font-size: 1.5em;
}

body {
	height: 100vh;
	margin: 0;
}

.slide {
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 700px;
	margin: auto;
	display: flex;
}

.code {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	font-family: Consolas, monospace;
	white-space: nowrap;
	overflow: auto;
}

#merci {
	overflow: auto;
}
